#logo{
    height: 50px;
}
#navbar{
    height: 45px;
    margin-bottom: -10px;
}
#logo-container{
  top:-5px;
}
#header{
    margin-top: 93px;
    box-shadow: 0px 4px 8px -7px rgba(0, 0, 0, 0.75);
}
#cast{
    width: 128px;
    height: 42px;
    margin-top: -12px;
}
.shop-now{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    position: relative;
    top: -10px;
}
.shop-now:hover{
    opacity: 0.5;
}
.mob-screen{
    background-color: white;
}
/* *{
  overflow-x: hidden;
} */
body,html{
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
@media (max-width: 769px) {
    .custom-mt-sm {
      margin-top: 100px; /* Adjust the value as needed */
    }
    .container{
        margin-right: 0px;
        padding: 0px;
        margin-left: 0px;
        width: 100%;
      }
      .margin-0{
        margin-right: 0px;
        padding: 0px;
      }
    #carousel{
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }
    .small{
        width: 100%;
        margin-top: 20px;
    }
    .big{
        width: 100%;
       padding-top: 20px;
    }
    .center{
        text-align: center;
    }
    .big-image{
        margin-bottom: 20px;
    }
    #carousel{
        overflow: none;
        margin-right: -200px;
        padding: 0px;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .girl-big{
        width: 100%;
        margin-right: 0px;
        padding: 0px;
    }
    .three-image{
        margin-top: 20px;
    }
  }
  @media(min-width:769px){
    .big{
        height: 900px;
        width: 800px;
    }
    .second-cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
      }
    .small{
        height: 400px;
        width: 300px;
        display: block;

    }
    .container-custom{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* max-width: 85%; */
    }
    /* #width{
        width: 324px;
      } */
      .big-image{
        width: 70%;
        height: 400px;
        position: relative;
        left: -6px;
        background-color:bisque;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
      }
      .big-image img{
        width: 80%;
      }
      body,html{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #boys-and-girls{
        margin-left: 10px;
    }
    .row-custom{
        width: 100%;
    }
    .three-image{
        height: 320px;
        width: 210px;
        margin-left: 30px;
    }
    .heading{
        font-size: 70px;
        font-weight: 900;
    }
    .girl-big{
        height: 480px;
        width: 550px;
    }
    .flex-direction{
        margin-left: -10px;
    }
    #auto{
        width: 330px;
    }
  }
#margin-0{
    margin-right: 0px;
    padding: 0px;
}
.low-margin{
    margin-bottom: 0px;
}
.be-the-first{
    font-size: 23px;
    font-weight: 500;
}
.para{
    font-size: 19px;
}
.w{
    width: 40vw;
    margin-top: 10px;
}
.flex-direction{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-up{
    border: 2px solid white;
    color: white;
    height: 50px;
    margin-left: 20px;
}
  
